
#banner{
    background-image: linear-gradient(rgba(136, 236, 231, 0.6), rgba(136, 236, 231, 0.6)),url(../images/girl.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;   
    /* position: relative;  */
}


h1{
    color: aliceblue;
    text-align: center;
    padding-top: 20%;
    width: 50%;
    margin: auto 0;
    padding-left: 25%;
    /* position: absolute; */

}

#container{
    height: 800px;
    background-color: antiquewhite;
    
}

#experiences{
    color: rgb(5, 158, 209);
    text-align: center;
    padding: 10px;

}

#quotes{
    text-align: center;
}

#box{
    height: 530px;
    /* background-color: blue; */
    float: left;
    width: 30%;
}

#box1{
    height: 530px;
    /* background-color: coral; */
    float: right;
    width: 30%;
}


#education{
    color: rgb(5, 158, 209);
}

#container-1{
    height: 500px;
    /* background-color: crimson; */
    width: 80%;
    margin: 0 auto;

}

#box-1{
    height: 300px;
    /* background-color: chartreuse; */
    width: 35%;
    float: left;
}


#box-2{
    height: 300px;
    /* background-color: darkgreen; */
    width: 30%;
    float: left;
}


#innercircle{
    background-color: beige;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px 30px 30px 30px;
    margin: 35px 0px 0px 35px;
}


/* #myphoto{
     height: 120px;
     width: 120px;
 }    */


#box-3{
    height: 300px;
    /* background-color: chocolate; */
    width: 35%;
    float: right;
}

#profile{
    text-align: center;
    color: rgb(5, 158, 209);
    font-size: 3rem;
}


#web{
    text-align: center;
}

.abtdetails{
    color: rgb(5, 158, 209);
}

#details{
    color: rgb(5, 158, 209);
}

#container-2{
    height: 500px;
    /* background-color: darkcyan; */
    width: 50% ;
    margin: 0 auto;
    margin-top: 15px;

}

#abilities{
    font-size: 2rem;
    color: rgb(5, 158, 209);
    padding-left: 300px;
}

#lines{
    text-align: center;
}

#skills{
    font-size: 1.5rem;
    color: rgb(5, 158, 209);
}

#languages{
    font-size: 1.5rem;
    color: rgb(5, 158, 209);
}

#container-3{
    height: 800px;
    background-color: rgb(236, 230, 221);
}

#projects{
    color: rgb(5, 158, 209);
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif ;
}

#quotes{
    text-align: center;
}

#images{
    width: 80%;
    /* background-color: aqua; */
    margin: 0 auto;
    height: 600px;
}

.project-2{
    padding-left: 100px;
}

.margin{
    margin-top: 20px;
 }


/* for smartphone */

@media only screen and(max-width: 767px){

    #banner{
        width: 100%;
    }

    #container{
        width: 100%;
    }

    #experiences{
        width: 100%;
    }

    #quotes{
        width: 100%;
    }

    #box{
        width: 100%;
    }

    #eduation{
        width: 100%;
    }

    #box1{
        width: 100%;
    }

    #container-1{
        width: 100%;
    }

    #profile{
        width: 100%;
    }

    #web{
        width: 100%;
    }

    #box-1{
        width: 100%;
    }

    #abtdetails{
        width: 100%;
    }

    #box-2{
        width: 100%;
    }

    #innercircle{
        width: 100%;
    }

    #box-3[
        width: 100%;
    ]

    #details{
        width: 100%;
    }

    #container-2{
        width: 100%;
    }

    #abilities{
        width: 100%;
    }

    #lines{
        width: 100%;
    }

    #skills{
        width: 100%;
    }

    #languages{
        width: 100%;
    }

    #container-3{
        width: 100%;
    }

    #projects{
        width: 100%;
    }

    #quotes{
        width: 100%;
    }

    #images{
        width: 100%;
    }

}


/* for tablet size */

@media only screen and(min-wudth: 768px) and (max-width: 1023px){

    #banner{
        width: 100%;
    }

    #container{
        width: 100%;
    }

    #experiences{
        width: 100%;
    }

    #quotes{
        width: 100%;
    }

    #box{
        width: 100%;
    }

    #eduation{
        width: 100%;
    }

    #box1{
        width: 100%;
    }

    #container-1{
        width: 100%;
    }

    #profile{
        width: 100%;
    }

    #web{
        width: 100%;
    }

    #box-1{
        width: 100%;
    }

    #abtdetails{
        width: 100%;
    }

    #box-2{
        width: 100%;
    }

    #innercircle{
        width: 100%;
    }

    #box-3[
        width: 100%;
    ]

    #details{
        width: 100%;
    }

    #container-2{
        width: 100%;
    }

    #abilities{
        width: 100%;
    }

    #lines{
        width: 100%;
    }

    #skills{
        width: 100%;
    }

    #languages{
        width: 100%;
    }

    #container-3{
        width: 100%;
    }

    #projects{
        width: 100%;
    }

    #quotes{
        width: 100%;
    }

    #images{
        width: 100%;
    }
}