
body{
    background-color: pink;
}

#header{
    height: 40px;
    width: 100%;
    background-color: white;
    margin-bottom: 2%;
    padding-bottom: 10px;

}

#header ul{
    float: right;
}

#header ul li a{
    text-decoration: none;
    color: black;
}

#header ul li{
    display: inline;
    padding: 15px;
}

#container{
    background-color: azure;
     height: 400px;
     width: 80%;
     margin: 40px 0px 40px 0px;
     border: 15px solid white ;
     margin: 0 auto;

 }

#container1{
   
    height: 400px;
    width: 50%;
    float: left;
    
}

#container2{
   height: 400px;
   width: 30%;
   float: right;
}

.style1{
    padding: 30px;
}

#design1{
    text-decoration: none;
    margin: 30px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 30px;
    color: white;
}

#design2{
    text-decoration: none;
    background-color: orange;
    margin: 30px;
    padding: 10px;
    border-radius: 30px;

}

.style{
    padding: 30px 0px 0px 50px;
}

#style1{
    text-decoration: none;
    padding:12px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    margin-left: 50px;

}

#style2{
    text-decoration: none;
    padding:12px ;
    margin: 5px;
    border-radius: 20px;
    color: white;
    background-color: orange;
    margin-left: 50px;

}

#box1{
    height: 400px;
    width: 32%;
    float: left;
    margin-right: 2%;
    background-color: white;
    
}

#box2{
    height: 400px;
    width: 32%;
    float: left;
    margin-right: 2%;
    background-color: white;
}

#boxes{
    margin-top: 2%;
}

#box3{
    height: 400px;
    width: 32%;
    float: right;
    background-color: white;
}

.style2{
    padding: 20px;
}

.innercircle{
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 30px 30px 30px 30px;
    margin: 35px 0px 0px 35px;
}


